################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Spectra.Mvc/packages
/Spectra.Mvc/.vs/Spectra
/Spectra.Mvc/obj/Debug
