################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Spectra.Mvc/packages
/Spectra.Mvc/.vs/Spectra
/Spectra.Mvc/obj/Debug
/Spectra.Sample/.vs/Spectra.Sample
/Spectra.Sample/packages
/Spectra.Mvc/.vs/Spectra.Mvc/v16
